/* -------------------------------- 

Site Header

-------------------------------- */

#site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 51px;
  z-index: 97;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(255, 255, 255, 0.97);
  border-bottom: 1px solid #cacaca;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
#site-header.off-canvas { top: -89px; }
#site-header.fixed { top: 0;}
#site-header.top { top: 0; background: rgba(255, 255, 255, 0); border-bottom-color: rgba(255,255,255,0); }
#site-header.is-open { height: 161px; }

@media only screen and (min-width: 768px) {
	#site-header {
		height: 71px;
	}
	#site-header.is-open { height: 206px; }
}

@media only screen and (min-width: 992px) {
  #site-header {
  	position: absolute;
    background: transparent;
    box-shadow: none;
    border: none;
  }
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the #site-section-nav when it becomes fixed */
}
@media only screen and (min-width: 992px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}

/* -------------------------------- 

Logo

-------------------------------- */

#site-logo {
  float: left;
  top: 15px;
  left: 15px;
  background: #FF8000;
  position: fixed;
  z-index: 101;
  width: 80px;
  height: 80px;
  border-radius: 500px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
#site-logo.off-canvas { top: -89px; left: 5px; width: 40px; height: 40px; }
#site-logo.fixed { top: 5px; left: 5px; width: 40px; height: 40px;}
#site-logo.top { top: 15px; left: 15px;  width: 80px; height: 80px;}
#site-logo.small { width: 80px; height: 80px;}
#site-logo img {
  display: block;
}
#site-logo .logo-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #333;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
#site-logo .logo-menu-icon::before, #site-logo .logo-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #333;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
#site-logo .logo-menu-icon::before {
  top: -5px;
}
#site-logo .logo-menu-icon::after {
  top: 5px;
}
#site-logo .logo-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
#site-logo .logo-menu-icon.is-clicked::before, #site-logo .logo-menu-icon.is-clicked::after {
  background-color: white;
}
#site-logo .logo-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#site-logo .logo-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  #site-logo {
  	top: 20px;
 	left: 20px;
	height: 90px;
	width: 90px;
  }
  #site-logo.off-canvas { top: -99px; left: 20px; width: 50px; height: 50px; }
  #site-logo.fixed { top: 10px; left: 20px; width: 50px; height: 50px;}
  #site-logo.top { top: 20px; left: 20px;  width: 90px; height: 90px;}
  #site-logo .logo-menu-icon {
    left: auto;
    margin-left: 10px;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}
@media only screen and (min-width: 992px) {
  #site-logo {
  	position: fixed;
  	top: 32px;
  	left: 23%;
  	width: 200px;
  	height: 200px;
  	z-index: 99;
  }
  #site-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.5s, opacity 0.3s;
    -moz-transition: left 0.5s, opacity 0.3s;
    transition: left 0.5s, opacity 0.3s;
  }
  #site-logo.slide-in {
    /* slide in when the secondary navigation gets fixed */
    top: 10px;
    left: 18%;
    opacity: 1;
    width: 40px;
    height: 40px;
    z-index: 102;
  }
}

/* -------------------------------- 

Site Menu

-------------------------------- */
@media only screen and (min-width: 992px) {
  #site-menu {
  	padding: 10px !important;
  	position: fixed;
  	height: 100%;
  	overflow: scroll;
  	width: 20%;
  	-webkit-transition: 0.6s;
  	-moz-transition: 0.6s;
  	transition: 0.6s;
  }
  #site-menu > .section-navigation {
  	margin-bottom: 40px;
  }
  #site-menu > .section-navigation ul li a b {
  	color: #333;
  }
  #site-menu li a span {
  	top: -20px !important;
  }
  #site-menu .site-section-nav-avatar {
  	top: -30px !important;
  }
  #site-menu > .section-navigation ul li.sub a {
  	padding: 5px 0;
  }
  #site-menu > .section-navigation ul li.sub a b {
  	color: #999;
  	font-size: 10px;
  }
  #site-menu-bg {
  	width: 100%;
  	height: 50px;
  	background-color: #f1f1f1;
  	position: relative;
  	cursor: pointer;
  }
  #site-menu.on-notifi {
  	width: 25%;
  }
 }


#site-intro-nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: none;
  width: 44px;
  height: 100%;
  background: url(img/cd-icon-menu.svg) no-repeat center center;
  background-size: 44px 44px;
}
#site-intro-nav ul {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  padding: 0 !important;
  text-align: left !important;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
#site-intro-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
#site-intro-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 !important;
  margin-bottom: 15px;
  background: #000101;
  border-top: 1px solid #051426;
  color: #f0eee1;
  text-transform: uppercase;
  font: bold 11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#site-intro-nav ul li:nth-child(2) {
    -webkit-animation-delay:0.4s; 
    -moz-animation-delay:0.4s; 
    animation-delay: 0.4s;
} 
#site-intro-nav ul li:nth-child(3) {
    -webkit-animation-delay:0.6s; 
    -moz-animation-delay:0.6s; 
    animation-delay: 0.6s;
} 
#site-intro-nav ul li:nth-child(4) {
    -webkit-animation-delay:0.8s; 
    -moz-animation-delay:0.8s; 
    animation-delay: 0.8s;
} 
@media only screen and (min-width: 768px) {
  #site-intro-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  #site-intro-nav.is-hidden {
  	display: none;
  	position: fixed;
  }
  #site-intro-nav ul {
    position: static;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  #site-intro-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  #site-intro-nav li {
    display: block;
  }
  #site-intro-nav a {
    display: block;
    height: auto;
    line-height: normal;
    background: transparent;
    border-top: none;
    color: #030d18;
  }
}

#star {
    transform: translate3d(0px, 0px, 0px);
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent none repeat scroll 0px center;
    top: 0px;
    left: 0px;
    z-index: -100;
}

/* -------------------------------- 

Intro

-------------------------------- */
.header-container {
	padding: 0 !important;
	width: 100% !important;
	margin: 0 !important;
}

#site-intro {
  position: relative;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}

#site-intro-img {
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	transition: all 0.9s;
}

#site-intro #site-intro-tagline {
  width: 90%;
  max-width: 992px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}
#site-intro h1 {
  font-size: 24px;
  font-size: 2rem;
  font-weight: 300;
  color: #EF5224;
  /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);*/
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  #site-intro {

  }
  #site-intro #site-intro-tagline {
    padding-top: 160px;
  }
  #site-intro h1 {
    font-size: 32px;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  #site-intro {
  	padding: 0;
  	margin-left: 20%;
  	border-left: 1px solid #cacaca;
  	text-align: center;
  	width: 80%;
  }
  #site-intro #site-intro-tagline {
    
  }
  #site-intro-main {
  	min-height: 780px;
  	overflow: hidden;
  	margin-bottom: 0;
  	position: relative;
  	margin: 0;
  }
  #site-intro-img {
  	min-height: 100% !important;
  	overflow: hidden;  	
  	width: 100%;
  	position: fixed;
  	top: 0;
  }
  #site-intro-slides {
  	width:  100%;
  	height: 15%;
  	overflow: hidden;
  	position: fixed;
  	bottom: 0;
  	-webkit-transition: 0.6s;
  	-moz-transition: 0.6s;
  	transition: 0.6s;
  }
  #site-intro-slides.slow {
  	animation-duration: 2s !important;
  	animation-delay: 1s !important;
  }
  #site-intro-slides img {
  	max-width: 100%;
  	height: auto;
  }
  #site-intro-main img {
	min-width: 100%;
	height: auto;
	left: 20%;
  }
  #site-intro-content {
  	background-color: #FFF;
  	position: relative;
  	padding: 0px;
  	margin: 0px;
  	min-height: 780px;
  	z-index: 100;
  }
  
  .fullHeight {
    height: 100%;
  	min-height: 100% !important;
  }
  
  .fixed {position:fixed; top:0;}
  
   #site-intro.on-notifi {
    margin-left: 25%;
   	width: 75%;
   }
   #site-intro.on-notifi #site-intro-main img {
   	left: 25%;
   }
   #site-intro.on-notifi #site-logo {
   	left: 27%;
   }
   #site-intro.on-notifi #site-toolbar {
   	right: 3%;
   }
}

/* -------------------------------- 

Toolbar

-------------------------------- */
.cd-btn {
	display: inline-block;
	background-color: transparent;
	margin-top: 0;
	margin-left: 0;
	border-radius: 500px;
	width: 40px;
	height: 40px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.cd-btn i {
	font-size: 20px;
	display: inline-block;
	padding: 10px;
	color: rgb(0, 0, 0) !important;
}
.cd-btn:hover {
	background-color: transparent !important;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.cd-btn:hover i {
  	color: #000 !important;
}
#site-toolbar {
	position: relative;
	right: 5%;
	-webkit-animation-delay: 0.5s; 
	-moz-animation-delay: 0.5s; 
	animation-delay: 0.5s;
	-webkit-transition: right 0.6s;
	-moz-transition: right 0.6s;
	transition: right 0.6s; 
	z-index: 95;
}
#site-toolbar.off-canvas { top: -89px; }
#site-toolbar.fixed { top: 0; }
#site-toolbar .toolbar-menu-icon {
  /* this span is the central line of the menu icon */
  position: absolute;
  top: 25px;
  right: -10px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #333;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
#site-toolbar .toolbar-menu-icon::before, #site-toolbar .toolbar-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #333;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
#site-toolbar .toolbar-menu-icon::before {
  top: -5px;
}
#site-toolbar .toolbar-menu-icon::after {
  top: 5px;
}
#site-toolbar .toolbar-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
#site-toolbar .toolbar-menu-icon.is-clicked::before, #site-toolbar .toolbar-menu-icon.is-clicked::after {
  background-color: #333;
}
#site-toolbar .toolbar-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#site-toolbar .toolbar-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
	.cd-btn {
		display: inline-block;
		background-color: #fff;
		margin-top: 1.5em;
		margin-left: 1em;
		border-radius: 50%;
		width: 36px;
		height: 36px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		vertical-align: middle;
	}
	.cd-btn i {
		font-size: 20px;
		display: inline-block;
		padding: 7px;
		color: #FFCE00 !important;
	}
	.cd-btn:hover {
		background-color: #FFCE00 !important;
	}
	.cd-btn:hover i {
	  	color: #fff !important;
	}
	#site-toolbar { right: 20px; }
	#site-toolbar.fixed { top: 0px; right: 20px; }
	#site-toolbar.top { top: 0px; right: 20px; }
}
@media only screen and (min-width: 992px) {
  #site-toolbar {
  	position: fixed;
  	top: 32px;
  	right: 5%;
  	text-align: center;
  	width: 200px;
  }
  #site-toolbar.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: -160px;
    -webkit-transition: right 0.3s, opacity 0.3s;
    -moz-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }
  #site-toolbar.is-hidden.slide-in {
    /* slide in when the secondary nav gets fixed */
    right: 1%;
    opacity: 1;
  }
  .cd-btn {
  	display: inline-block;
  	margin: 0 3%;
  	border-radius: 500px;
  	width: 40px;
  	height: 40px;
  	background: #fff;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-align: center;
  	vertical-align: middle;
  }
  .cd-btn i {
  	font-size: 20px;
  	padding: 10px;
  	color: #FFCE00;
  }
  #site-toolbar.is-hidden.slide-in .cd-btn {
  	margin-top: 10px;
  }
  #arrow-button {
  	position: fixed;
  	margin-left: -25px;
  	top: 77%;
  	padding-top: 5px;
  	display: inline-block;
  	animation-delay: 0.5;
  }
  #arrow-text {
  	position: fixed;
  	margin-left: -35px;
  	top: 74%;
  	padding-top: 5px;
  	display: inline-block;
  	animation-delay: 0.5;
  	color: #fff;
  	font-size: 18px;
  	font-weight: normal;
  }
  #arrow-button svg {
  	width: 50px;
  	height: 50px;
  }
}

/* -------------------------------- 

Primary Fullscreen Navigation

-------------------------------- */

#site-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
  width: auto;
  /*background: rgba(2, 23, 37, 0.96);*/
  z-index: 96;
  text-align: right;
  padding: 15px 0px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#site-primary-nav.is-visible {
  position: fixed;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#site-primary-nav ul {
	margin: 0 !important;
}
#site-primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-transform: capitalize;
  list-style-type: none;
}
#site-primary-nav a {
  font: normal normal 20px Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  display: inline-block;
  padding: .2em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  text-transform: capitalize;
}
.no-touch #site-primary-nav a:hover {
	text-decoration: none;
	
}
#site-primary-nav .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
@media only screen and (min-width: 768px) {
  #site-primary-nav {
	padding: 15px 15px;
  }
  #site-primary-nav a {
    font-size: 14px;
    padding: .3em 1em;
  }
}

/* -------------------------------- 

Secondary Fixed Navigation

-------------------------------- */
#site-header-secondary {
	position: relative;
	z-index: 10;
}

#site-section-nav {
  position: relative;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#site-section-nav ul {
  /* mobile first - secondary navigation hidden by default, triggered by tap/click on #site-logo*/
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: rgba(3, 13, 24, 0.96);
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#site-section-nav ul.is-visible {
  visibility: visible;
}
#site-section-nav li a, #site-menu > .section-navigation li a {
  display: block;
  padding: 1em 0;
  color: #333;
}
.section-navigation {
	text-align: center;
}
.section-navigation.is-visible {
	opacity: 1;
}
.section-navigation.is-hidden {
	opacity: 0;
	display: none;
}
.section-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: none;
	text-align: left;
}
.section-navigation ul li {
	padding: 0;
	position: relative;
}
.section-navigation ul li:last-child::before {
	border: none;
}
.section-navigation ul li a {
	position: relative;
	letter-spacing: 1px;
	text-decoration: none;
}	
.section-navigation ul li a b {
	font: bold 12px Georgia, "Times New Roman", Times, serif;
	color: #f1f1f1;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.isDay {
	background-color: rgba(3, 13, 24, 0.96) !important;
	color: rgb(3, 13, 24) !important;
}
.isNight {
	background-color: rgba(3, 13, 24, 0.96) !important;
	color: rgb(250, 218, 94) !important;
}
@media only screen and (min-width: 992px) {
  #site-section-nav {
    z-index: 10;
    height: 100px;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    position: absolute;
    top: 35em;
    margin: 0;
    width: 100%;
  }
  #site-section-nav nav, #site-section-nav ul, #site-section-nav li, #site-section-nav a {
    height: 100%;
  }
 
  #site-section-nav ul{
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: hidden;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
  #site-section-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  #site-section-nav li a, #site-menu li a {
    position: relative;
    text-align: left;
    display: block;
    padding: 58px 30px 0 30px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
    line-height: 10px !important;
  }
  #site-section-nav li a b, #site-menu li a b {
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(240, 238, 225, 0.3);
  	font-weight: bold;
  }
  #site-section-nav li a span, #site-menu li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  #site-section-nav li a span i, #site-menu li a span i {
  	font-size: 30px;
  }

  .site-section-nav-avatar img {
  	border-radius: 500px;
  	border: 1px solid #FFCE00;
  	width: 100%;
  	height: 100%;
  }
  #site-section-nav li a:hover b, #site-section-nav li a.active b, #site-section-nav li a:active b {
    color: #fff;
  }
  #site-section-nav li:nth-child(1) a span {
    background-position: 0 0;
  }
  #site-section-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
  #site-section-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }
  #site-section-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }
  #site-section-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }
  #site-section-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
  }
  #site-section-nav.is-fixed > #site-section-nav ul {
  	visibility: visible;
  }
  #site-section-nav.repainted {
    background: rgba(51, 41, 36, 0.96);
  }
  #site-section-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  #site-section-nav.animate-children li a {
    padding: 15px 30px 0 30px;
  }
  #site-section-nav.animate-children li a b {
  	font-size: 11px;
  }
  #site-section-nav.animate-children li a span {
    opacity: 0;
  }
}
#section-title {
	color: rgb(250, 218, 94);
	text-align: center;
	font: normal bold 22px Georgia, "Times New Roman", Times, serif;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
	letter-spacing: 2px;
}
#section-title.is-hidden {
	opacity: 0;
	display: none;
}
#section-intro {
	width: 100%;
	background-color: #f3f3f3;
	z-index: 100;
	margin-bottom: 60px;
	height: 200px;
}
#section-intro.is-fixed {
	width: 80%;
	position: fixed; 
	top: 0;	
	height: 60px;
	border-bottom: 1px solid #cacaca;		
}
/* -------------------------------- 

Placeholder Sections

-------------------------------- */
.cd-section {
  margin: 0 auto;
  padding: 2em 0;
}
.cd-section h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .6em;
  font-weight: 700;
}
.cd-section p {
  line-height: 1.6;
}
@media only screen and (min-width: 992px) {
  .cd-section {
    margin: 0 auto;
    padding: 4em 0;
  }
  .cd-section h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-section p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
