/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
#site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  #site-header {
    background: transparent;
    box-shadow: none;
  }
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the #site-section-nav when it becomes fixed */
}
@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
/* -------------------------------- 

Navigation

-------------------------------- */

#site-logo {
  float: left;
  margin: 13px 0 0 5%;
  background: url(img/cd-logo.svg) no-repeat center center;
}
#site-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  #site-logo {
    margin: 23px 0 0 5%;
  }
}
@media only screen and (min-width: 1170px) {
  #site-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }
  #site-logo.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    left: 1%;
    opacity: 1;
  }
}

#site-intro-nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: none;
  width: 44px;
  height: 100%;
  background: url(img/cd-icon-menu.svg) no-repeat center center;
  background-size: 44px 44px;
}
#site-intro-nav ul {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  width: 60%;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
#site-intro-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
#site-intro-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #000101;
  border-top: 1px solid #051426;
  color: #f0eee1;
  text-transform: capitalize;
}
#site-intro-nav ul li:nth-child(2) {
    -webkit-animation-delay:0.4s; 
    -moz-animation-delay:0.4s; 
    animation-delay: 0.4s;
} 
#site-intro-nav ul li:nth-child(3) {
    -webkit-animation-delay:0.6s; 
    -moz-animation-delay:0.6s; 
    animation-delay: 0.6s;
} 
#site-intro-nav ul li:nth-child(4) {
    -webkit-animation-delay:0.8s; 
    -moz-animation-delay:0.8s; 
    animation-delay: 0.8s;
} 
@media only screen and (min-width: 768px) {
  #site-intro-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  #site-intro-nav.is-hidden {
  	display: none;
  	position: fixed;
  }
  #site-intro-nav ul {
    position: static;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  #site-intro-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  #site-intro-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  #site-intro-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #030d18;
  }
}

/* -------------------------------- 

Intro

-------------------------------- */
#cd-intro {
  position: relative;
  height: 300px;
  background-size: cover;
  overflow: hidden;
}
#cd-intro img {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;	
}
#cd-intro #cd-intro-tagline {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}
#cd-intro h1 {
  font-size: 24px;
  font-size: 2rem;
  font-weight: 300;
  color: #EF5224;
  /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);*/
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  #cd-intro {
    height: 400px;
  }
  #cd-intro #cd-intro-tagline {
    padding-top: 160px;
  }
  #cd-intro h1 {
    font-size: 32px;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-intro {
    height: 600px;
  }
  #cd-intro #cd-intro-tagline {
    padding-top: 250px;
  }
}

#site-toolbar {
	display: inline-block;
	position: absolute;
	top: 0.5em;
	right: 5%;
	-webkit-animation-delay:1s; 
	-moz-animation-delay:1s; 
	animation-delay: 1s;
}
.cd-btn {
	display: inline-block;
	background-color: #fff;
	margin-top: 1em;
	margin-left: 1em;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	vertical-align: middle;
}
.cd-btn i {
	font-size: 20px;
	display: inline-block;
	padding: 10px;
	color: rgb(250, 218, 94) !important;
}
.cd-btn:hover {
	background-color: rgb(250, 218, 94) !important;
}
.cd-btn:hover i {
  	color: #fff !important;
}
#site-toolbar-trigger {
	margin-top: 7px;
}
#site-toolbar-trigger:hover, #site-toolbar-trigger:active {
	color: #fff;
}
#site-toolbar-xs ul {
	background: none;
	box-shadow: none;
	border: none;
	list-style-type: none;
}
#site-toolbar-xs ul li a {
	color: rgb(250, 218, 94) !important;
	padding: 0;
}
#site-toolbar-xs ul li a:hover {
	color: #fff;
}

@media only screen and (min-width: 1170px) {
  #site-toolbar.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    -webkit-transition: right 0.3s, opacity 0.3s;
    -moz-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }
  #site-toolbar.is-hidden.slide-in {
    /* slide in when the secondary nav gets fixed */
    right: 1%;
    opacity: 1;
  }
}

/* -------------------------------- 

Secondary Fixed Navigation

-------------------------------- */
#site-section-nav {
  position: relative;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#site-section-nav ul {
  /* mobile first - secondary navigation hidden by default, triggered by tap/click on #site-section-nav-trigger*/
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: rgba(3, 13, 24, 0.96);
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
#site-section-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}
#site-section-nav li a {
  display: block;
  padding: 1.6em;
  color: #f0eee1;
}
#section-navigation {
	text-align: center;
}
#section-navigation.is-visible {
	opacity: 1;
}
#section-navigation.is-hidden {
	opacity: 0;
	display: none;
}
#section-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: none;
	text-align: center;
}
#section-navigation ul li {
	padding: 12px 0px;
	position: relative;
	text-align: center;
}
#section-navigation ul li::before {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #f1f1f1;
	height: 50%;
	content: "";
	position: absolute;
	left: 100%;
	top: 25%;
}
#section-navigation ul li:last-child::before {
	border: none;
}
#section-navigation ul li a {
	position: relative;
	letter-spacing: 1px;
	text-decoration: none;
}	
#section-navigation ul li a b {
	font: bold 14px Georgia, "Times New Roman", Times, serif;
	color: #f1f1f1;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.isDay {
	background-color: rgba(255, 255, 255, 0.96) !important;
	color: rgb(3, 13, 24) !important;
}
.isNight {
	background-color: rgba(3, 13, 24, 0.96) !important;
	color: rgb(250, 218, 94) !important;
}
@media only screen and (min-width: 1170px) {
  #site-section-nav {
    z-index: 2;
    height: 100px;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    position: absolute;
    bottom: 2em;
    margin: 0;
    width: 100%;
  }
  #site-section-nav nav, #site-section-nav ul, #site-section-nav li, #site-section-nav a {
    height: 100%;
  }
 
  #site-section-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
  #site-section-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  #site-section-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 58px 40px 0 40px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
  }
  #site-section-nav li a b {
    text-transform: uppercase;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 700;
    color: rgba(240, 238, 225, 0.3);
  }
  #site-section-nav li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    /*background-image: url(img/cd-nav-icons.svg);*/
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  #site-section-nav li a span i {
  	font-size: 30px;
  }
  #site-section-nav li a:hover b, #site-section-nav li a.active b, #site-section-nav li a:active b {
    color: #fff;
  }
  #site-section-nav li:nth-child(1) a span {
    background-position: 0 0;
  }
  #site-section-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
  #site-section-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }
  #site-section-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }
  #site-section-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }
  #site-section-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
  }
  #site-section-nav.repainted {
    background: rgba(3, 13, 24, 0.96);
  }
  #site-section-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  #site-section-nav.animate-children li a {
    padding: 15px 30px 0 30px;
  }
  #site-section-nav.animate-children li a b {
  	font-size: 11px;
  }
  #site-section-nav.animate-children li a span {
    opacity: 0;
  }
}

#site-section-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: rgba(3, 13, 24, 0.96);
  box-shadow: 0px 0px 10px rgb(250, 218, 94, 0.4);
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
#site-section-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f0eee1;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
#site-section-nav-trigger span::before, #site-section-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#site-section-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
#site-section-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
#site-section-nav-trigger.menu-is-open {
  background: transparent;
}
#site-section-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}
#site-section-nav-trigger.menu-is-open span::before, #site-section-nav-trigger.menu-is-open span::after {
  background: #f0eee1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}
#site-section-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#site-section-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  #site-section-nav-trigger {
    display: none;
  }
}

#section-title {
	color: rgb(250, 218, 94);
	text-align: center;
	font: normal bold 22px Georgia, "Times New Roman", Times, serif;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
	letter-spacing: 2px;
}
#section-title.is-hidden {
	opacity: 0;
	display: none;
}
/* -------------------------------- 

Placeholder Sections

-------------------------------- */
.cd-section {
  margin: 0 auto;
  padding: 2em 0;
}
.cd-section h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .6em;
  font-weight: 700;
}
.cd-section p {
  line-height: 1.6;
}
@media only screen and (min-width: 1170px) {
  .cd-section {
    margin: 0 auto;
    padding: 4em 0;
  }
  .cd-section h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-section p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
