.wrap{margin:0 !important}

h2.nav-tab-wrapper, h3.nav-tab-wrapper{padding:5px 0 0 !important}

h2 .nav-tab { padding: 12px 15px !important; }

.wrap h2 { font-size: 15px;}

.wrap h3{
	margin-left:2.5em;
	font-size: 23px;
}

.wrap .form-table{
	width: 90% !important;
	margin: 0 auto;
}

.wrap .form-table .sprite_layouts{
	float:left;
	margin-right: -1%;
	padding-right: 3%;
}

.wrap .form-table .sprite_layouts div{
	width: 118px;
	height: 49px;
	margin-bottom:2%;
}

.wrap .form-table th{
	width:180px !important;
	line-height:1 !important;
	padding:25px 20px 30px 0px !important;
}

.wrap .updated.below-h2{
	width: 87.6%;
	margin-left: 5%;
}
.down_buttons { margin-left: 5%; }

.down_buttons input[type="submit"]{
	width: 140px !important;
	height: 40px;
	margin-top: 3%;
}

.home_p{float:left;}

.type_headers_kern,.type_headers_transform,.type_headers_variant,.type_headers_weight,.type_headers_style {display:block;}

.description{display:inline-block; margin-top:1%;  font-size: 14px !important;}

#main_home_page .button.active_button {
	color: rgb(0, 0, 0) !important;
	text-shadow: none;
	font-size: 13px !important;
}

#main_home_page .button {
	height: 38px !important;
	display: initial !important;
	background: url(../../images/button.png) center !important;
	background-size: 100% 100% !important;
	border-radius: 0px !important;
	border: none !important;
	font-size: 16px !important;
	padding: 10px !important;
	color: white !important;
	font-size: 13px !important;
	text-shadow: none !important;
	line-height:0px !important;
	font-weight: bold;
}

#main_home_page .block {
	position:relative;
	padding-bottom:0px;
	height:auto;
	float:left;
	margin-bottom:10px;
	width:100%;
	min-height:20px;
}


#main_home_page .optioninput {
	clear:both;
	float:left;
}

#main_home_page .optioninput.checkbox { 
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width: 23px;
	height:100%;
	text-align:center;
	margin:0px 5px 0px 0px;
}

#main_home_page .optioninput.checkbox_for_posts { 
	display:block;
	top:0px;
	left:0px;
	width:2%;
	height:100%;
	text-align:center;
	margin:0px 5px 0px 0px;
}

#main_home_page .optioninput select, #main_home_page .optioninput input, #main_home_page .optioninput, #main_home_page .optioninput textarea{	
	font-family:Segoe UI;
	color: rgb(111, 111, 111); 
}

#main_home_page .optioninput textarea{ margin-bottom:10px;resize:none;}

#main_home_page .optioninput input, #main_home_page .optioninput select, #main_home_page .optioninput textarea{clear:both;	background:#e9e9e9;}

#main_home_page .optiontitle {		
	clear:both;
	font-family:Segoe UI;
	color: rgb(111, 111, 111); 
	font-size:18px;
	border: none;
	padding:10px 0px 10px 0px;
	margin:10px 0px 10px 0px;
	border-top: rgb(206, 206, 206) solid 1.5px;
}
#main_home_page  .param_gorup_div:nth-child(1) > .optiontitle {
	border-top: 0px;
	
}		

#main_home_page .optiontitle h3{
	margin:0px;
	font-weight: bold;
	
}

#main_home_page h3{
	width:100%;
	cursor:default !important;
	background:none !important;
	border:none !important;
	color: rgb(111, 111, 111) !important;
}

#main_home_page .optiondescreption {
	position:relative;
  	width:97%;
	float:left;
	font-family:Segoe UI;
	color: rgb(111, 111, 111);
	font-size:16px;
	margin:-17px 0px -10px 0px;
}

#main_home_page .block.margin .optiondescreption {
	margin-left:25px;
}


#main_licensing_page table{
	width:543px;
	color: #555;
	text-align:center;
	margin: 10px 24px 6%;
}

#main_licensing_page .data-bordered {
	border-spacing: 0;
	border-collapse: collapse;
	border-bottom: solid 1px #b4b4b4;
}

#main_licensing_page a:active {outline-style: none !important;}

#main_licensing_page table {
	display: table;
	border-color: gray;
}

#main_licensing_page #page { text-align: left;}

#main_licensing_page .data-bordered th.first {
	border-left: solid 1px #106EA2;
	border-right: solid 1px #106EA2;
}

#main_licensing_page thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

#main_licensing_page .data-bordered td.top, #main_licensing_page .data-bordered th.top {
	border-right: solid 1px #fff;
	padding: 10px;
	font-size: 30px;
}

#main_licensing_page .data-bordered thead th {
	vertical-align: middle;
	text-align: center;
}

.data-bordered th {
	background-color: #106EA2;
	color: #ffffff;
	font: bold 0.85em;
	text-transform: none;
	font-size: 30px;
	border-top: none;
	border-left: solid 1px #f28705;
	border-right: solid 1px #f28705;
}

#main_licensing_page .data-bordered th, #main_licensing_page .data-bordered td {
	padding: 5px 10px;
	vertical-align: top;
	border-top: solid 1px #b4b4b4;
	border-left: solid 1px #b4b4b4;
	border-right: solid 1px #b4b4b4;
	text-align:left;

}

#main_licensing_page .data-bordered td.yes { background-image: url(../../images/Plus.png); }

#main_licensing_page .data-bordered th, #main_licensing_page .data-bordered td {
	padding: 5px 10px;
	vertical-align: top;
	border-top: solid 1px #b4b4b4;
	border-left: solid 1px #b4b4b4;
	border-right: solid 1px #b4b4b4;
}

#main_licensing_page .data-bordered { border-collapse: collapse; }

#main_licensing_page .data-bordered .alt td { background-color: #E5E5E5;}

#main_licensing_page .data-bordered td {
	vertical-align: middle;
	line-height: 25px;
	font-size: 14px;
	text-align:left;
}

#main_licensing_page .data-bordered td.no, #main_licensing_page .data-bordered td.yes {
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -9999px;
}

#main_licensing_page .data-bordered .alt td { background-color: #E5E5E5;}
 
#main_licensing_page .data-bordered .icon-replace { min-width: 74px; }

#main_licensing_page .buy_theme div {
	width: 155px;
	height: 40px;
	margin-left:12%;
	background: url(../../images/Buy-Now.png) no-repeat 8px 5px;
	background-size:80%;
}
